.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 5px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.project-glass-card {
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 50%;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* Glassmorphism Effect */
}

.project-image {
  width: 100%;
  min-height: 100px;
  max-height: 170px;
  border-radius: 8px;
  object-fit: cover;
}

.tech-stack {
  margin: 1rem 0;
}

.tech-tag {
  background: #282c34;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  margin-right: 5px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.website-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .project-glass-card {
    margin-right: 10px;
    width: 70%;
  }

  .project-card {
    width: 100%;
    margin-left: -20px;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
}